/*
*  Import all files 
*/

@import url(fonts.css);
@import url(variables.css);
@import url(reset.css);
@import url(media_queries.css);
@import url(keyframes.css);

/*
*  Your CSS
*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
header {
    height: 100px;
}


/* Navbar */
nav {
    display: flex;
    padding: 40px 60px;
    justify-content: space-between;
    
    transform: translateY(-100%);
    animation: navApparition .5s 2.5s forwards;
}
nav .links {
    display: flex;
    gap: 40px;
}
nav .links a {
    position: relative;
}
nav .links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--black);
    transition: transform .2s;
    transform-origin: left;
}
nav .links a:hover::after {
    transform: scaleX(1);
}
nav .destination {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
nav .destination::after {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.02);
    content: '';
    height: calc(100% + 25px);
    width: calc(100% + 50px);
    border-radius: 25px;
    position: absolute;
    opacity: 0;
    transition: opacity .2s;
}
nav .destination:hover::after {
    opacity: 1;
}
nav .destination input {
    border: none;
    background-color: transparent;
}
nav .destination input:focus {
    outline: none;
}
nav .destination input::placeholder {
    color: var(--black)
}
nav .destination label {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav *:not(.logo) {
    font-size: .9rem;
    text-decoration: none;
}
nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}
nav .logo {
    font-size: 1.2rem;
    font-weight: 800;
}
nav .menu {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}
nav .menu .icon {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 35px;
    transition: padding .1s;
}
nav .menu .icon span {
    display: flex;
    height: 2px;
    width: 25px;
    background-color: var(--black);
}
nav .menu .icon span:nth-child(1) {
    margin: 0 auto 0 0
}
nav .menu .icon span:nth-child(2) {
    margin: 0 0 0 auto
}

nav .menu:hover .icon {
    padding: 0 5px;
}


/* Main */
#landing {
    display: grid;
    grid-template-areas: 
    "a a a a a a"
    "b b b b b b"
    "c c c d d d";
    grid-template-rows: 50px calc((100% / 3) - 25px) calc(2 * ((100% / 3)) - 25px);
    grid-template-columns: repeat(6, 1fr);
    height: calc(100vh - 100px);
    width: 100%;
}
#landing .header {
    grid-area: a;
    display: flex;
}
#landing .header .counter {
    padding: 0 60px;
    display: flex;
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Open Sans', sans-serif;
}
#landing .header .counter span {
    opacity: 0;
    animation: fadeIn .5s 1.5s forwards;
}
#landing .header .counter span:nth-child(2) {
    position: relative;
    z-index: 2;
}
#landing .header .navigation {
    margin-left: 70px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}
#landing .header .navigation span {
    background-color: var(--black);
    color: #fff;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn .5s 2s forwards;
}
#landing .destination-title {
    z-index: 1;
    grid-area: b;
    display: flex;
    align-items: center;
    font-size: 8rem;
    background-color: #fff;
    justify-content: center;
    opacity: 0;
    animation: fadeInRight 1s .5s forwards;
}
#landing .destination-title p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    letter-spacing: 1rem;
    transform: translateX(100px);
}
#landing .image-wrapper {
    grid-area: c;
}
#landing .image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    animation: imageApparition .5s forwards;
}
#landing .description {
    position: relative;
    grid-area: d;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    max-width: 500px;
    gap: 100px;
}
#landing .description .title {
    display: flex;
    gap: 20px;
    opacity: 0;
    animation: fadeIn .5s 1.5s forwards;
}
#landing .description .title .black {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#landing .description .title .black p {
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .05rem;
    color: var(--black);
}
#landing .description .title .black .icon {
    color: var(--black);
}
#landing .description .title .gray {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#landing .description .title .gray p {
    color: rgb(174, 174, 174);
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .05rem;
}
#landing .description .title .gray span {
    background-color: rgb(174, 174, 174);
    height: 1px;
    width: 40px;
}
#landing .description .inner  p {
    color: rgb(174, 174, 174);
    line-height: 1.5rem;
    font-size: .9rem;
    opacity: 0;
    animation: fadeIn .5s 2s forwards;
}

#landing .description .button {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    animation: buttonApparition .5s .4s forwards;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 80px;
    gap: 35px;
    cursor: pointer;
}
#landing .description .button p {
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
}
#landing .description .button span {
    background-color: rgba(255, 255, 255, 0.5);
    height: 1px;
    width: 40px;
}
.socials {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 15px;
    height: 160px;
    width: 80px;
    transform: translateX(-40%);
}
.socials span {
    background-color: var(--black); 
    height: 0;
    width: 1px;
    animation: socialApparition-span .5s 3s forwards;
}
.socials a {
    opacity: 0;
    animation: socialApparition-icon .5s forwards;
}
.socials a:nth-child(4) {
    animation-delay: 3.9s;
}
.socials a:nth-child(3) {
    animation-delay: 3.7s;
}
.socials a:nth-child(2) {
    animation-delay: 3.5s;
}
.invisible {
    display: none;
}


#details {
    padding: 0 100px;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100px;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-areas: 
    "a b b"
    "c c c";
    grid-template-rows: auto 100px;
    grid-template-columns: 40% 60%;
    background-color: #fff;
    transition: transform .5s;
    opacity: 0;
    animation: fadeIn .5s 1s forwards;
}
#details.closed {
    transform: translateX(100%);
}
#details .image {
    overflow: hidden;
    height: 100%;
    grid-area: a;
}
#details .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#details .infos {
    padding: 0 50px;
    grid-area: b;
    display: grid;
    grid-template-areas: 
    "a a a a close"
    ". . . . ."
    "b b b b m"
    "c c c c m"
    "d d d d ."
    "e e e e i";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10% 10% 30% 20% 15% 15%;
}
#details .infos .top {
    grid-area: a;
    display: flex;
    align-items: center;
    gap: 5px;
}
#details .infos .top p {
    font-size: .8rem;
    font-weight: 800;
}
#details .infos .top .icon i {
    color: rgb(174, 174, 174);
}
#details .infos .top .cross {
    margin: 0 0 0 auto
}
#details .infos #close {
    grid-area: close;
    display: flex;
    align-items: center;
    justify-content: center;
}
#details .infos #close i {
    cursor: pointer;
}
#details .infos .title-wrapper {
    grid-area: b;
}
#details .infos .title-wrapper h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 7vw;
    
}
#details .infos .title-wrapper span {
    color: rgb(174, 174, 174);
    position: relative;
    top: -25px;
    left: 8px;
}
#details .infos .description {
    grid-area: c;
    color: rgb(174, 174, 174);
}
#details .infos .stats {
    grid-area: d;
    display: flex;
    align-items: center;
    gap: 25px;
}
#details .infos .stats div {
    display: flex;
    font-size: .8rem;
    gap: 5px;
}
#details .infos .stats div p {
    color: rgb(174, 174, 174);
}
#details .infos .stats div span {
    font-weight: bold;
}
#details .infos .buttons {
    grid-area: e;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
#details .infos .buttons .button {
    position: relative;
    background-color: #3d43a1;
    padding: 0 25px;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#details .infos .buttons .button .decoration {
    position: absolute;
    right: 50px;
    height: 1px;
    width: 35px;
    background-color: #fff;
}
#details .infos .buttons .button:nth-child(2) {
    background-color: #ee5d3e;
}
#details .infos .buttons .button span {
    display: block;
    color: #fff;
}
#details .infos .indicator {
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#details .infos .indicator span {
    background-color: rgb(174, 174, 174);
    width: 2px;
    height: 50px;
}
#details .infos .indicator div {
    font-weight: bold;
    transform: rotateZ(-90deg);
}
#details .infos .navigation {
    grid-area: i;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-size: 1.5rem;
}
#details .social-line {
    grid-area: c;
    display: flex;
    align-items: center;
    gap: 50px;
}
#details .social-line a {
    color: var(--black);
    text-decoration: none;
}